body {
    background: rgb(90, 90, 233);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.406);
    margin: auto;
    padding: 15px;
    width: 500px;
}

footer {
    color:white;
    font-style: italic;
    text-align: center;
}